<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/restraunt"><i class="fa-solid fa-cookie-bite"></i></a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavAltMarkup"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active"  href="/restraunt/home">Home</a>
          <a class="nav-link" href="/restraunt/menu">Menu</a>
          <a class="nav-link" href="/restraunt/reservation">Reservation</a>
          <a class="nav-link" href="/restraunt/gallary">Gallary</a>
          <a class="nav-link" href="/restraunt/aboutus">About Us</a>
          <!-- <a class="nav-link" href="/admin/menu/new">Add New Dish</a> -->
  
        </div>
      </div>
    </div>
  </nav>
  