<%- layout('/layouts/boilerplateUser') %>
<body>
    <h2>Welcome to friends and family restraunt!</h2>
    <div class="container text-center mt-5 mb-5">
        <div class="row">
          <div class="col">
            <p>At friends and family, we believe that every meal is an opportunity to create lasting memories. Located in the heart of nanded, our restaurant offers a culinary experience like no other. Step inside and discover the passion and flavor that define us.</p>

            <p>Founded in 2016, friends and family has been a cherished part of the community for 8 years. Our journey began with a simple vision: <b>to create a gathering place where friends and family could come together to enjoy delicious food and warm hospitality.</b> Over the years, we've grown and evolved, but our commitment to excellence has never wavered.</p>
          </div>
          
        </div>

        <div class="row mt-5">
            <div class="col">
              <p><b>Your satisfaction is our top priority. If you have any questions, concerns, or feedback about your experience at [Restaurant Name], we're here to help. Our dedicated customer service team is available to assist you with any inquiries or issues you may have.</b></p>
              <h2>Contact Information</h2>
              <p><b>Address</b> : railway station, in front of Uphar Gruh.</p>
              <p><b>Phone Number</b> : 1234567890</p>
              <p><b>Email</b> : friendsandfamily@gmail.com</p>
            </div>
            <div class="col">
              <img src="https://www.google.com/maps/d/u/0/thumbnail?mid=1bxK5-nyT8rDtTGGINjthVFtaTCM&hl=en_US" alt="image" height="450px">
            </div>
            
          </div>
      </div>
</body>