<%- layout('/layouts/boilerplateUser') %>
<body>
    <div class="container text-center">
        <div class="row">
          <div class="col">
            <h1 class="homeHeading">ARE YOU <br> HUNGRY?</h1>
            <p class="homeDesc">As well known and we are very busy all days advice you. <br> advice you to call us of before arriving.</p>

            <div class="container text-center">
                <div class="row">
                  <div class="col">
                    <form action="/restraunt/menu">
                        <button class="btn btn-dark homeMenu">SEE OUR MENU</button>
                    </form>
                  </div>
                  <div class="col">
                    <form action="/restraunt/reservation">
                        <button class="btn btn-danger homeRes">BOOK THE TABLE</button>
                    </form>
                  </div>
                </div>
              </div>

            

            

          </div>
          <div class="col">
            <img src=" https://t3.ftcdn.net/jpg/04/97/28/94/360_F_497289420_mVRWSAlBWYQlfvKJG0xmAPtMZgzIsk1E.jpg" alt="image" height="500px">
          </div>
          
        </div>
      </div>
</body>
